[Unit]
Description=QRreader service
After=display-manager.service graphical.target
Wants=display-manager.service

[Service]
Type=simple
TimeoutSec=30
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/qrreader
ExecStop=/usr/bin/pkill qrreader
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
