#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=none

override_dh_auto_configure:
	cmake -S src -B build-linux -DCMAKE_BUILD_TYPE=Release

override_dh_auto_build:
	cmake --build build-linux --config Release -j$$(nproc)
	mkdir -p dist
	cp build-linux/qrreader_linux dist/qrreader
	chmod 755 dist/qrreader

override_dh_auto_test:

override_dh_autoreconf:

override_dh_shlibdeps:
	dh_shlibdeps -- --ignore-missing-info